
@media screen and (max-width: 1280px){
	.right-click{
		right: -13%;
	}

	.left-click{
		left: -13%;
	}
}

@media screen and (max-width: 1100px){

	.navigation{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4,50px);
	}

	.introduction{
		grid-template-columns: 1fr 1fr;
	}

	.introduction__header{
		margin-left:20px;
	}
	
	.portfolio-inner{
		grid-template-columns: 0.9fr;
		justify-content: center;
		grid-row-gap: 30px;

		/*grid-template-columns: repeat(auto-fill, minmax(400px, 0.90fr));*/
		grid-auto-rows: auto;
	}

	.portfolio-inner-elem--full-row{
  		grid-column: 1/-1;
	}

	.slider__image--university{
		transform: scale(0.9);
	}

	.debug-slider--academy {
		flex-direction: column;
	}
	
	.slider-data{
		margin: 0 auto;
	}

	.slider__short-info--academy{
		margin-bottom: 50px;
	}

	.slider-elem{
		margin-top: 100px;
	}

	.left-click,
	.right-click{
		width: 50px;
		height: 50px;
		top: -100px;
	}

	.right-click{
		right:0%;
	}

	.left-click{
		left:0%;
	}

	.slider-data{
		display: flex;
		justify-content: center;
	}
	
	.slider-elem{
		min-height: 550px;
	}

	.slider__image--university{
		width: 300px;
    	height: 300px;
		margin:0 auto;
		/*transform: scale(0.9);*/
	}

	.slider__image--university-security{
		display: none;
	}

	.slider__image{
		/*transform: scale(0.6);*/
	}

	.portfolio__open{
		/*display: block;*/
	}

	.portfolio__explain-mobile{
		display: block;
	}
}

@media screen and (max-width: 600px){

	.header__main-header{
		font-size: 20px;
	}

	.navigation{
		width: 90%;
	}

	.slider__image--html{
		margin-left: 0px;
	}

	.slider__image{
		transform: scale(0.85);
	}

	.slider-data{
		width: 100%;
	}

	.introduction{
		grid-template-columns: 1fr;
	}

	.portfolio__header,
	.contacts__header,
	.qualification__header{
		font-size: 36px;
	}

	.footer-author{
		font-size: 26px;
	}
}


@media screen and (max-width: 475px){

	.slider__image{
		transform: scale(0.6);
	}

	.portfolio-inner-elem--auction{
		/*background-position*/
		background-position-x: -390px;
		background-position-y: -0px;
	}
}

@media screen and (max-width: 360px){
	.slider__image{
		transform: scale(0.5);
	}
}
