
@media screen and (max-width: 1280px){
	.right-click{
		right: -13%;
	}

	.left-click{
		left: -13%;
	}
}

@media screen and (max-width: 950px){

	.navigation{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4,50px);
	}

	.portfolio-inner{
		grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
		/*grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
		grid-auto-rows: auto;
	}

	.portfolio-inner-elem--full-row{
  		grid-column: 1/-1;
	}

	.slider__image--university{
		transform: scale(0.9);
	}

	.debug-slider--academy {
		flex-direction: column;
	}
	
	.slider-data{
		margin: 0 auto;
	}

	.slider__short-info--academy{
		margin-bottom: 50px;
	}

	.slider-elem{
		margin-top: 100px;
	}

	.left-click,
	.right-click{
		width: 75px;
		height: 75px;
		top: -7%;
	}

	.right-click{
		right:0%;
	}

	.left-click{
		left:0%;
	}

	.slider__image{
		margin:0 auto;
		/*transform: scale(0.9);*/
	}

	.slider__image--university-security{
		display: none;
	}
}
